@import '../../utils/styles/variables';

.city {
  font-size: 1em;
}

.currentTemperature {
  font-size: 2em;
  font-weight: bold;
}

.daily {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 0 33.333333%;

  @media (min-width: $desktop-width) {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.hourly {
  align-items: center;
  border-bottom: 1px solid $gray-ef;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }
}

.icon {
  height: 50px;
  width: 50px;
}
